@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
    font-family: 'gothamlight';
    src: url('/fonts/gotham-light-webfont.woff2') format('woff2'),
         url('/fonts/gotham-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gothamblack';
    src: url('/fonts/gotham-black-webfont.woff2') format('woff2'),
         url('/fonts/gotham-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gothamthin';
    src: url('/fonts/gotham-thin-webfont.woff2') format('woff2'),
         url('/fonts/gotham-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gothamxlight';
    src: url('/fonts/gotham-xlight-webfont.woff2') format('woff2'),
         url('/fonts/gotham-xlight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gothammedium';
    src: url('/fonts/gothammedium-webfont.woff2') format('woff2'),
         url('/fonts/gothammedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gothambold';
    src: url('/fonts/gotham-bold-webfont.woff2') format('woff2'),
         url('/fonts/gotham-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gothambook';
    src: url('/fonts/gothambook-webfont.woff2') format('woff2'),
         url('/fonts/gothambook-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body{
    max-width: 100%;
    overflow-x: hidden;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            scroll-behavior: smooth;
}

body{
    background-color: #1B4B6F;
    padding: 0;
    margin: 0;
    z-index: 2;
    box-sizing: border-box;
}

.main{
    height: 100vh;
    clip-path: circle(0% at 50% 50%);
    animation: anim 1s 3s ease-in forwards;
}

.about{
    height: auto;
}

.top-header{
    display: flex;
    justify-content: space-between;
    left: 0;
    padding-bottom: 120px;
    position: absolute;
    right: 0;
    top: 20px;
    z-index: 299;
    /* visibility: hidden;
    opacity: 0;
    */
    transition: transform .3s cubic-bezier(.4,0,.2,1),opacity .3s cubic-bezier(.4,0,.2,1),visibility .3s cubic-bezier(.4,0,.2,1);
    transform: translate3d(0,-2.5rem,0);
    /* pointer-events: none; */
    background: transparent;
}

.top-container_wrap{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 7rem;
    width: 100%;
    overflow: hidden;
}

.top-container{
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    opacity: 1;
transform-origin: top center;
   transform: translate3d(0,-125%,0) skewY(-5deg);
    transition: transform 1.2s cubic-bezier(.4,0,.2,1);
    animation: rise 2s 3.25s forwards;
}

.top-container2{
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    opacity: 1;
    transform-origin: top center;
    transition: transform 1.2s cubic-bezier(.4,0,.2,1);
}


.logo{
    height: 60px;
    width: auto;
    opacity: 1;
    transition: 0.4s all;
}

.top-container_wrap .nav-open img{
    visibility: hidden;
}


.logo2{
    position: absolute;
    height: 60px;
    width: auto;
    transition: 0.4s all;
    z-index: 300;
    top: 39px;
    left: 100px;
    opacity: 1;
}

.logo:hover{
    transform: scale(0.9);
}

.bubble-menu {
    color: #fff;
    display: inline-block;
    position: relative;
    padding: 1.25rem 0;
    outline: none;
    overflow: hidden;
}

.bubble{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    border: 1px solid hsla(0,0%,100%,.2);
    width: 100%;
    background-color: #1B4B6F;
    min-width: 7.5rem;
    min-height: 2.625rem;
    padding: 0 1.5625rem;
    border-radius: 2.625rem;
    overflow: hidden;
    cursor: pointer;
    z-index: 11;
}

.menu{
    margin-right: 10px;
    font-size: .9375rem;
    transform-origin: bottom left;
    cursor: pointer;
    transition: transform .6s cubic-bezier(.345,0,0,1);
}

.bubble:hover .menu{
    transform: translateY(-2.625rem) rotate(-30deg);
}

.bubble:hover .menu-hover{
    transform: translateY(-50%) rotate(0deg);
}

.menu-hover{
    position: absolute;
    top: 50%;
    font-size: .9375rem;
    line-height: 1;
    z-index: 10;
    transform-origin: bottom left;
    transform: translateY(calc(-50% + 2.625rem)) rotate(50deg);
    transition: transform .6s cubic-bezier(.345,0,0,1);
}


.hamburger-container{
    height: 0.625rem;
    transition: transform .3s cubic-bezier(.4,0,.2,1);
    width: 1rem;
}

.hamburger {
    cursor: pointer;
    width: 16px;
    height: 10px;
    position: relative;
    overflow: hidden;
    background: none;
    border: none;
    z-index: 13;
    transition: 0.35s all;
  }

  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    position: absolute;
    width: 16px;
    background: #fff;
    height: 1px;
    transform: rotate(0);
    transition: all 0.5s;
  }

  .hamburger-top{
    top: 10%;
  }

  .hamburger-middle {
    top: 50%;
  }
  
  .hamburger-bottom {
    top: 90%;
  }

  .open .hamburger-top{
    transform: rotate(45deg) 
    translateX(4px);
  }
  .open .hamburger-bottom{
    transform: rotate(-45deg) 
    translateX(7px) translateY(-1px);
  }
  
  .open .hamburger-middle {
    display: none;
  }
  

  .hamburger-hover{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 3.375rem;
    transform: translateX(-101%);
    transition: transform .6s linear;
  }

  .hamburger-hover span{
    display: block;
    position: absolute;
    background-color: #1B4B6F;
    width: 1.125rem;
  }

  .hamburger-hover span:nth-child(2) {
    top: 50%;
    left: 50%;
    height: calc(33.33333% + 1px);
    transform: translateX(-50%) translateY(-50%);
  }

  .hamburger-hover span:nth-child(3) {
    bottom: -1px;
    left: 0;
    height: calc(33.33333% + 1px);
  }

  .hamburger-hover span:first-child {
    top: -1px;
    left: 100%;
    height: calc(33.33333% + 1px);
    transform: translateX(-100%);
  }

  .bubble:hover .hamburger-hover{
    transform: translate(51%);
  }

  .background{
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 1440px;
    background-position: center;
    object-fit: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    
  }
  .background2{
    position: absolute;
    z-index: 1;
    height: auto;
    width: 1440px;
    background-position: center;
    object-fit: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    
  }

  .background img{
    opacity: 0;
    transition: 0.4s all ease-in;
  }

  .background.current img{
    opacity: 1;
  }

  .background2 img{
    opacity: 0;
    transition: 0.4s all ease-in;
  }

  .background2.current img{
    opacity: 1;
  }

  .text-container{
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: auto;
    z-index: 10;
  }

  .text-container2{
    position: relative;
    overflow: hidden;
    height: 70vh;
    width: auto;
    z-index: 10;
  }


  .main-heading{
    position: absolute;
    overflow: hidden;
    bottom: 45%;
   opacity: 0;
    transform-origin: top left;
    transform: translate3d(0,125%,0) rotate(5deg) skewY(5deg);
    transition: transform 1.2s cubic-bezier(.4,0,.2,1);
    animation: rise 1s 4s forwards;
  }

  .main-heading2{
    position: absolute;
    overflow: hidden;
    bottom: 20%;
   opacity: 0;
    transform-origin: top left;
    transform: translate3d(0,125%,0) rotate(5deg) skewY(5deg);
    transition: transform 1.2s cubic-bezier(.4,0,.2,1);
    animation: rise 1s 1s forwards;
  }

  @keyframes rise{
    100%{
        transform: translate3d(0,.1%,0) rotate(.01deg) skewY(.01deg);
        transition-delay: .15s;
        opacity: 1;
    }
  }

  .sub-heading{
    position: absolute;
    bottom: 38%;
    opacity: 0;
    transform-origin: top left;
    transform: translate3d(0,125%,0) rotate(5deg) skewY(5deg);
    transition: transform 1.2s cubic-bezier(.4,0,.2,1);
    animation: rise 1s 4s forwards;
  }

  .sub-heading2{
    position: absolute;
    bottom: 6%;
    opacity: 0;
    transform-origin: top left;
    transform: translate3d(0,125%,0) rotate(5deg) skewY(5deg);
    transition: transform 1.2s cubic-bezier(.4,0,.2,1);
    animation: rise 1s 1s forwards;
  }

  .mobile-img{
    position: absolute;
    top: 255px;
    background-color: #1B4B6F;
     opacity: 0;
     z-index: -1;
    transition: opacity 0.6s cubic-bezier(.4,0,.2,1);
    animation: appear 1s 4.5s forwards;
    
  }

  .mobile-img img{
    max-height: 500px;
    display: none;
  }
  .mobile-img2{
    position: absolute;
    top: 155px;
    background-color: #1B4B6F;
     opacity: 1;
     z-index: -1;
    transition: opacity 0.6s cubic-bezier(.4,0,.2,1);
    animation: appear 1s 4.5s forwards;
    
  }

  .mobile-img2 img{
    max-height: 500px;
    
  }

  .mobile-text{
   opacity: 0;
    transition: opacity 0.6s cubic-bezier(.4,0,.2,1);
    animation: appear 1s 4.8s forwards;
    
  }

  

  .main-buttons{
    position: absolute;
    bottom: 27%;
  }

  .learn-more{
    padding: 0.75rem 3rem;
    border-radius: 20px;
    transition: 0.3s all ease-in-out;
    border: 0.5px solid #fff;
    opacity: 0;
    transform-origin: top left;
    transform: translate3d(0,125%,0) rotate(5deg) skewY(5deg);
    transition: transform 1.2s cubic-bezier(.4,0,.2,1), background-color 0.5s, color 0.5s;
    animation: rise 1s 4s forwards;
    
    
  }

  .learn-more:hover{
    background-color: #1B4B6F;
    color: #fff;
  }

  .book{
    padding: 0.75rem 1.5rem;
    border-radius: 20px;
    border: 0.5px solid #fff;
    color: #fff;
    transition: 0.4s all ease-in-out;
    opacity: 0;
    transform-origin: top left;
    transform: translate3d(0,125%,0) rotate(5deg) skewY(5deg);
    transition: transform 1.2s cubic-bezier(.4,0,.2,1), background-color 0.5s, color 0.5s;
    animation: rise 1s 4s forwards;
    
  }

  .book:hover{
    background-color: #fff;
    color: #000;
  }


  @keyframes anim {
    to {
        clip-path: circle(100% at 50% 50%);
    }
  }




  .loader-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    opacity: 1;
     animation: disappear 0.25s 3s forwards;
    transition: 0.4s all;
  }
  

  .loader-logo img{
    height: 75px;
  }

  @keyframes disappear{
    100%{
        opacity: 0;
    }
  }
  @keyframes appear{
    100%{
        opacity: 1;
    }
  }


  /*@keyframes bounce {
    10%{
        height: 80px;
    }
    30%{
        width: 80%;
    }
    50%{
        height: 60px;
        width: 110%;
        transform: translateY(-80px);
    }
    75%{
        height: 80px;
    }
    100%{
        transform: translateY(0px);
    }
  }]
  */

  
  
  .pulse{
    height: 170px;
    width: 170px;
    background-color: #1B4B6F;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -2;
    transition: 0.4s all;
  }
  .pulse2{
    height: 170px;
    width: 170px;
    background-color: #1B4B6F;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
  }

  .pulse:before,
  .pulse:after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #215781;
    border-radius: 50%;
    z-index: -3;
    opacity: 0.7;
  }

  .pulse:before{
    animation: pulse 3s 1s ease-out forwards;
  }
  .pulse:after{
    animation: pulse 3s 2s ease-out forwards;
  }


  @keyframes pulse{
    100%{
        transform: scale(2.5);
        opacity: 0;
    }
  }

  /*@keyframes bounce2
  {
   
    50%{
        
        transform: translateY(-80px);
    }
    
    100%{
        transform: translateY(0px);
    }
  }
  */


  /* Navigation */
  .overlay-nav-main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    pointer-events: none;
  }

  .overlay-nav-main-wrap{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    background: #fff;
    height: 100vh;
    pointer-events: none;
     opacity: 0;
    -webkit-clip-path: circle(0 at 50% 50%);
    clip-path: circle(0 at 50% 50%);
    transition: opacity .6s cubic-bezier(.4,0,.2,1),-webkit-clip-path 0s cubic-bezier(.4,0,.2,1) ease-in-out .6s;
    transition: opacity .6s cubic-bezier(.4,0,.2,1),clip-path 0s cubic-bezier(.4,0,.2,1) ease-in-out .6s;
    transition: opacity .6s cubic-bezier(.4,0,.2,1),clip-path 0s cubic-bezier(.4,0,.2,1) .6s,-webkit-clip-path 0s cubic-bezier(.4,0,.2,1) ease-in-out .6s;
    will-change: clip-path;

  }

  .overlay-nav-main-wrap.nav-open{
    pointer-events: all;
    opacity: 1;
    animation: circleIn 1s ease-in forwards;
  }

  @keyframes circleIn{
    to{
    
    -webkit-clip-path: circle(250% at 50% 50%);
    clip-path: circle(250% at 50% 50%);
    }
  }

  .overlay-nav{
    color: #101010;
    min-height: 100%;
    display: -ms-flex;
    display: flex;
    padding: 10rem;
    flex-direction: column;
  }

  .overlay-nav-inner{
    min-height: 100%;
    width: 100%;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-grow: 1;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .overlay-nav-menu {
    flex-grow: 1;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
  }

  .overlay-nav-menu ul{
    display: block;
  }

  .overlay-nav-menu ul li{
    margin-bottom: 2.5rem;
    opacity: 1;
    position: relative;
    display: inline-block;
    clear: both;
    transform: translateZ(0);
    transition: transform .3s cubic-bezier(.4,0,.2,1),opacity .6s cubic-bezier(.4,0,.2,1);
    float: left;
  }

  .overlay-nav-menu ul li a {
    font-weight: 500;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: .12em;
    text-transform: uppercase;
    transition: 0.5s all;
  }

  .overlay-nav-menu ul li a:hover{
    color: #3476a8;
    margin-left: 15px;
  }

  .overlay-nav-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .overlay-nav-link{
    display: block;
    overflow: hidden;
    position: relative;
  }

  .overlay-nav-link span{
    display: block;
    position: relative;
    transform: translate3d(0,-110%,0);
    transition: transform .6s cubic-bezier(.4,0,.2,1);
    transition-delay: 1s;
  }

  .overlay-nav-main-wrap.nav-open .overlay-nav-link span{
    transform: translateZ(0);
    transition: transform .6s cubic-bezier(.4,0,.2,1),opacity .6s cubic-bezier(.4,0,.2,1) .4s;
    transition-property: transform, opacity;
    transition-duration: 0.6s, 0.6s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
  }

  .overlay-nav-menu li:first-child .overlay-nav-link span{
    transition-delay: .4s;
  }
  .overlay-nav-menu li:nth-child(2) .overlay-nav-link span{
    transition-delay: .5s;
  }
  .overlay-nav-menu li:nth-child(3) .overlay-nav-link span{
    transition-delay: .6s;
  }
  .overlay-nav-menu li:nth-child(4) .overlay-nav-link span{
    transition-delay: .7s;
  }


    .overlay-nav-secondary ul{
        display: flex;
        flex-direction: row;
    }

    .overlay-nav-secondary ul li{
        transition: transform 0.5s ease;
    }

    .overlay-nav-secondary ul li span{
        margin-right: 35px;
        position: relative;
        display: inline-block;
        transform: translate3d(-100%,0,0);
        text-decoration: none;
        font-size: 15px;
        opacity: 0;
        transition: opacity .3s cubic-bezier(.4,0,.2,1) 0s, transform .6s cubic-bezier(.345,0,0,1);
    
    }

    .overlay-nav-main-wrap.nav-open .overlay-nav-secondary .overlay-nav-link span{
        opacity: 1;
        transform: translateZ(0);
        transition: transform .6s cubic-bezier(.4,0,.2,1),opacity .6s cubic-bezier(.4,0,.2,1) .4s;
        transition-property: transform, opacity;
        transition-duration: 0.6s, 0.6s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
    }

    .overlay-nav-secondary ul li:hover{
      transform: scale(1.05);
    }

    .overlay-nav-main-wrap.nav-open .overlay-nav-secondary li:first-child span{
        transition-delay: 0.9s !important;
    }
    .overlay-nav-main-wrap.nav-open .overlay-nav-secondary li:nth-child(2) span{
        transition-delay: 1s !important;
    }
    .overlay-nav-main-wrap.nav-open .overlay-nav-secondary li:nth-child(3) span{
        transition-delay: 1.1s !important;
    }



     .overlay-nav-right {
        width: 16.25rem;
        display: -ms-flex;
        display: flex;
        align-items: flex-end;
    }

    .overlay-nav-bottom{
    display: flex;
    flex-wrap: wrap;
    font-style: normal;
    font-weight: 400;
    opacity: 0;
    transition: opacity .3s cubic-bezier(.4,0,.2,1) 0s;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s;
    }

    .overlay-nav-bottom a{
        position: relative;
        display: inline-block;
        text-decoration: none!important;
        transition: transform .6s cubic-bezier(.345,0,0,1);
        transition-property: transform;
        transition-duration: 0.6s;
        transition-timing-function: cubic-bezier(0.345, 0, 0, 1);
        transition-delay: 0s;
        margin-top: 25px;
    }

    .overlay-nav-bottom a:hover{
        transform: scale(1.05);
    }

    .overlay-nav-main-wrap.nav-open .overlay-nav-bottom{
        opacity: 1;
        transition: opacity .6s cubic-bezier(.4,0,.2,1) 1.3s;
        transition-property: opacity;
        transition-duration: 0.6s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 1.4s;
    }

    .overlay-nav-bottom .socials{
        color: #1B4B6F;
        font-size: 25px;
        
        
    }
    .overlay-nav-bottom .socials i{
        margin-right: 25px;
        transition: all 0.5s;
    }

    .overlay-nav .socials i:hover{
        color: #000;
        transform: translateY(-7px);

    }


    .buttons button#next{
        position: absolute;
        top: 59%;
        right: 100px;
        z-index: 99;
        cursor: pointer;
    }

    .buttons button#prev{
        position: absolute;
        top: 50%;
        right: 100px;
        z-index: 99;
        cursor: pointer;
    }

    .buttons button{
        border: 0.5px solid rgb(205, 205, 205);
        background-color: transparent;
        cursor: pointer;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.775);
        border-radius: 100%;
        padding: 10px 15px;
        transition: all 0.6s;
    }

    .buttons button:hover{
        background-color: #fff;
        color: #000;
    }
    


    /* Section 2 */
    .section2{
        height: auto;
        padding: 80px 100px;
        background-color: #123753;
    }

    .section2-button button{
        cursor: pointer;
        border: 1px solid white;
        color: #fff;
        background-color: #1B4B6F;
        transition: 0.4s all;
    }
    
    .section2-button button:hover{
        transform: scale(1.1);
    }

    /* Section 3 */
    .section3{
        height: auto;
        padding: 40px 20px;
        background-color: #1B4B6F;
    }

    .section3-heading{
        color: #e3f6ff;
    }

    .section3-button button{
        cursor: pointer;
        border: 1px solid white;
        color: #fff;
        background-color: #123753;
        transition: 0.4s all;
    }

    .section3-button button:hover{
        transform: scale(1.1);
    }

    .section3 .spacer{
        background-color: #29ABE2;
        height: 2px;
        width: 100px;
        margin: 0 auto;
    }

    .services-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        overflow: hidden;
    }

    .services-container .card{
        width: 20%;
        text-align: center;
        padding: 60px 0px;
        background-color: #123753;
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 100px;
        position: relative;
        
    }

    .services-container .card:first-child{
        transform: translate3d(-80%, 0, 0);
        opacity: 0;
        
    }
    .services-container .card:nth-child(2){
        transform: translate3d(-150%, 0, 0);
        opacity: 0;
        transition-delay: 0.8s;
    }
    .services-container .card:nth-child(3){
        transform: translate3d(-150%, 0, 0);
        opacity: 0;
        transition-delay: 0.6s;
    }
    .services-container .card:nth-child(4){
        transform: translate3d(-150%, 0, 0);
        opacity: 0;
        transition-delay: 0.4s;
    }
    .services-container .card:nth-child(5){
        transform: translate3d(-80%, 0, 0);
        opacity: 0;
        transition-delay: 1s;
    }
    .services-container .card:nth-child(9){
        transform: translate3d(-80%, 0, 0);
        opacity: 0;
        transition-delay: 1s;
    }
    .services-container .card:nth-child(6){
        transform: translate3d(-150%, 0, 0);
        opacity: 0;
        transition-delay: 0.8s;
    }
    .services-container .card:nth-child(7){
        transform: translate3d(-150%, 0, 0);
        opacity: 0;
        transition-delay: 0.6s;
    }
    .services-container .card:nth-child(8),
    .services-container .card:nth-child(10),
    .services-container .card:nth-child(11),
    .services-container .card:nth-child(12)
    {
        transform: translate3d(-150%, 0, 0);
        opacity: 0;
        transition-delay: 0.4s;
    }

    .services-container .card.fade-in{
        opacity: 1;
        transform: translateZ(0);
        transition: transform 0.6s cubic-bezier(.4,0,.2,1),opacity .6s cubic-bezier(.4,0,.2,1) .4s;
        transition-property: transform, opacity;
        transition-duration: 1.5s, 1.5s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
    }

    .services-container .card:first-child.fade-in,
    .services-container .card:nth-child(5).fade-in,
    .services-container .card:nth-child(9).fade-in
    {
        transition-delay: 2s;
    }
    .services-container .card:nth-child(2).fade-in,
    .services-container .card:nth-child(6).fade-in,
    .services-container .card:nth-child(10).fade-in
    {
        transition-delay: 1.8s;
    }
    .services-container .card:nth-child(3).fade-in,
    .services-container .card:nth-child(7).fade-in,
    .services-container .card:nth-child(11).fade-in
    {
        transition-delay: 1.6s;
    }
    .services-container .card:nth-child(4).fade-in,
    .services-container .card:nth-child(8).fade-in,
    .services-container .card:nth-child(12).fade-in
    {
        transition-delay: 1.4s;
    }

    .card-heading{
        padding-left: 7px;
        padding-right: 7px;
    }


    .card-img i{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        font-size: 40px;
        margin-top: -45px;
        background-color: #fff;
        padding: 25px;
        color: #137DC3;
        border-radius: 100%;
        border: 2px solid #29ABE2;
        transition: 0.4s all;
    }

    .card-img i:hover{
        color: #fff;
        background-color: #137DC3;
        border: 2px solid #fff;
    }

    .fa-solid.fa-percent{
        padding: 25px 32px;
    }

    

    
    /* Section 4 - Our Team */
    .section4{
        height: auto;
        padding: 40px 0px;
        background-color: #123753;
    }

    .section4-heading{
        color: #e3f6ff;
    }

    .section4 .spacer{
        background-color: #29ABE2;
        height: 2px;
        width: 100px;
        margin: 0 auto;
    }

    .team-container{
        padding: 20px 0px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .team-member{
        width: 30%;
        flex-direction: column;
        padding: 10px 60px;
        transition: 0.5s all;
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }

    .team-member-text{
        position: absolute;
        top: 0;
        left: 0;
        background-color: #1B4B6F;
        padding: 20px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        
    }

    .team-member-img{
        overflow: hidden;
        border-radius: 5px;
    }

    .team-member-heading{
        color: #fff;
    }
    .team-member-info{
        position: absolute;
        bottom: 0;
        color: #fff;
        background-color: #1B4B6F;
        padding: 20px;
        transform: translate3d(0, 150%, 0);
        transition: 0.5s all;
        font-size: 15px;
    }
    .team-member-more{
        color: #48ddf1;
    }

    .team-member:hover .team-member-info{
        transform: translateZ(0);
    }

    .section4-button button{
        cursor: pointer;
        border: 1px solid white;
        color: #fff;
        background-color: #1B4B6F;
        transition: 0.4s all;
    }
    .section4-button button:hover{
        transform: scale(1.1);
    }

    .team-member.fade-in{
        opacity: 1;
        transform: translateZ(0);
        transition: transform 0.6s cubic-bezier(.4,0,.2,1),opacity .6s cubic-bezier(.4,0,.2,1) .4s;
        transition-property: transform, opacity;
        transition-duration: 1.5s, 1.5s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
    }

    .team-member:first-child.fade-in{
        transition-delay: 1s;
    }
    .team-member:nth-child(2).fade-in{
        transition-delay: 0.66s;
    }
    .team-member:nth-child(3).fade-in{
        transition-delay: 0.33s;
    }
    .team-member:nth-child(2).fade-in{
        transition-delay: 0.66s;
    }

    

    /* Testimonial Slider */

        .slider{
            position: relative;
            width: 100vw;
            height: auto;
            background-color: #1B4B6F;
        }

        .section5{
            padding-top: 30px;
            padding-bottom: 70px;
            position: relative;
            height: auto;
            background-color: #1B4B6F;
        }

        .slide{
            position: absolute;
            background-color: #1B4B6F;
            left: 0;
            top: 0;
            width: 100%;
            height: auto;
            padding-bottom: 40px;
            opacity: 0;
            transition: opacity 0.4s ease-in-out;
        }

        .slide.current2{
            opacity: 1;
        }

        .slide .content{
            position: relative;
            left: -1400px;
            opacity: 0;
            width: 100%;
        }

        .slide.current2 .content{
            transform: translateX(1400px);
            opacity: 1;
            transition: all 0.7s ease-in-out;
        }

        .section-slide{
            position: relative;
        }

        .slide h1{
            color: #fff;
        }
        

        .buttons2 button#next2 {
            position: absolute;
            top: 45%;
            right: 25px;
        }
        .buttons2 button#prev2 {
            position: absolute;
            top: 45%;
            left: 25px;
        }

        .buttons2 button{
            border: 1px solid #fff;
            color: #fff;
            border-radius: 50%;
            padding: 5px 10px;
        }

        .buttons2 button:hover{
            background-color: #fff;
            color: #1B4B6F;
            transition: all 0.3s ease-in-out;
        }
        .section5 .spacer{
            background-color: #29ABE2;
            height: 2px;
            width: 100px;
            margin: 0 auto;
          }

          .section5-heading{
            color: #e3f6ff;
        }

        /* Section 6 */
        .section6{
            background-color: #123753;
            height: auto;
            padding: 40px 70px;
            position: relative;
        }

        .section6-heading{
            color: #e3f6ff;
        }
    
        .section6 .spacer{
            background-color: #29ABE2;
            height: 2px;
            width: 100px;
            margin: 0 auto;
        }

        .section6-button button{
            cursor: pointer;
            border: 1px solid white;
            color: #fff;
            background-color: #1B4B6F;
            transition: 0.4s all;
        }
        .section6-button button:hover{
            transform: scale(1.1);
        }
        .section6a{
            background-color: #1B4B6F;
            height: auto;
            padding: 40px 70px;
            position: relative;
        }

        .section6a-heading{
            color: #e3f6ff;
        }
    
        .section6a .spacer{
            background-color: #29ABE2;
            height: 2px;
            width: 100px;
            margin: 0 auto;
        }

        .section6a-button button{
            cursor: pointer;
            border: 1px solid white;
            color: #fff;
            background-color: #123753;
            transition: 0.4s all;
        }
        .section6a-button button:hover{
            transform: scale(1.1);
        }

        /* Choose Us About Page */
        .choose-us{
            height: auto;
            background-color: #123753;
            padding: 40px 0px;
        }

        .choose-us-description{
            color: #fff;
        }

        .choose-us-container{
            flex-wrap: wrap;
        }

        .choose-us-card{
            margin: 10px;
            padding: 20px;
            height: 400px;
            width: 250px;
            overflow: hidden;
            opacity: 0;
            transform: translate3d(0, 150%, 0);
        }

        .choose-us-card:first-child,
        .choose-us-card:nth-child(3),
        .choose-us-card:nth-child(5)
        {
            background-color: #1B4B6F;
        }

        
        .choose-us-card:nth-child(2),
        .choose-us-card:nth-child(4)
        {
            background-color: #0a273c;
        }
        
        .choose-us-card.fade-in{
            opacity: 1;
            transform: translateZ(0);
            transition: transform 0.6s cubic-bezier(.4,0,.2,1),opacity .6s cubic-bezier(.4,0,.2,1) .4s;
            transition-property: transform, opacity;
            transition-duration: 1.5s, 1.5s;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
        }

        .choose-us-card:nth-child(2).fade-in{
            transition-delay: 0.5s;
        }
        .choose-us-card:nth-child(3).fade-in{
            transition-delay: 1s;
        }
        .choose-us-card:nth-child(4).fade-in{
            transition-delay: 1.5s;
        }
        .choose-us-card:nth-child(5).fade-in{
            transition-delay: 2s;
        }

        .choose-us-icon i{
            font-size: 26px;
        }
      
         /* Footer */

        .footer{
            width: 100%;
            border-top: 1px solid #48ddf1;
            background-color: #111;
        }

        .footer-container{
            padding: 40px 40px;
            display: flex;
            align-items: center;
            justify-content: center;

        }

        .footer-img{
            margin: 0 auto;
            text-align: center;
        }

        .footer-img img{
            height: 70px;
            margin: 0 auto;
            width: auto;
            transition: 0.3s all;
        }
        
        .footer-section{
            width: 33%;
            display: flex;
           justify-content: center;
        }

        .footer-section:nth-child(2){
            flex-direction: column;
        }

        .footer-img img:hover{
            transform: scale(1.1);
        }

        .privacy{
            transition: 0.3s all;
        }
        .privacy:hover{
            transform: scale(1.1);
        }
        .refund{
            transition: 0.3s all;
        }
        .refund:hover{
            transform: scale(1.1);
        }

        .base-footer{
            background-color: #000;
        }


        /* Contact Form */

.floating-contact-form .contact-icon {
    position: fixed;
    bottom: 40px;
    right: 50px;
    cursor: pointer;
    padding: 16px;
  }
  
  .floating-contact-form .contact-icon i {
    font-size: 42px;
    color: #fff;
    transition: all 0.3s ease;
    opacity: 0;
    animation: appear 1s 4.2s forwards;
  }
  
  .floating-contact-form .contact-icon i:hover {
    transform: scale(1.1);
  }
  
  .floating-contact-form .form-container{
    position: fixed;
    bottom: 120px;
    right: 50px;
    padding: 24px 36px;
    width: 750px;
    transform: rotateZ(-9deg);
    transform-origin: bottom-right;
    opacity: 0;
    pointer-events: none;
    transition: all 500ms ease;
    z-index: 301;
    background-color: #1B4B6F;
    border: 1px solid #fff;
  }
  
  .floating-contact-form .form-container.active{
    transform: rotateZ(0deg);
    opacity: 1;
    pointer-events: auto;
  }
  
  .floating-contact-form * {
    box-sizing: border-box;
  }
  
  .form-heading::after{
    content: "";
    height: 1px;
    width: 116px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -4px;
  }
  
  .floating-contact-form form input[type="text"],
  .floating-contact-form form input[type="tel"],
  .floating-contact-form form input[type="email"],
  .floating-contact-form form textarea {
    width: 100%;
    padding: 8px 32px;
    padding-left: 45px;
    font-size: 16px;
    border: 1px solid #fff;
    border-radius: 8px;
    color: #fff;
    margin-bottom: 20px;
    background-color: #1B4B6F;
  }
  
  .inputs{
    width: 300px;
  }
  
  .floating-contact-form form textarea{
    height: 167px;
    width: 360px;
    resize: none;
    margin-left: 25px;
    padding-left: 45px;
  }
  
  .floating-contact-form .field-container .fa-sticky-note{
    left: 40px;
  }
  
  .floating-contact-form .field-container .txtlabel{
    margin-left: 20px;
  }
  
  .floating-contact-form form input:focus,
  .floating-contact-form form textarea:focus{
    outline: none;
  }
  
  .floating-contact-form .field-container{
    position: relative;
  }
  .floating-contact-form .field-container label{
    position: absolute;
    top: 8px;
    left: 40px;
    border-left: 8px solid #1B4B6F;
    border-right: 8px solid #1B4B6F;
    transition: 0.5s all ease;
    pointer-events: none;
    color: #fff;
  }
  
  
  .floating-contact-form .field-container label.active{
    font-size: 12px;
    background-color: #123753;
    color: white;
    padding: 1.25px 10px;
    top: -12px;
    left: 24px;
    font-family: 'Gotham Medium', sans-serif;
  }
  .floating-contact-form .field-container i{
    position: absolute;
    top: 14px;
    left: 12px;
    color: #fff;
  }
  
  
  .floating-contact-form form input[type="submit"]{
    border: none;
    background-color: #123753;
    padding: 16px 32px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    transition: 0.5s all;
    color: white;
  }
  .floating-contact-form form input[type="submit"]:hover{
    background-color: #154163;

  }
  
  .fa-xmark{
    font-size: 22px;
    color: #fff;
  }
  
  .fa-xmark i{
    transition: 0.5 all ease;
  }
  
  
  .fa-xmark:hover{
    transform: scale(1.1);
  }

  .story{
    opacity: 0;
    transform-origin: top left;
    transition: transform 1.2s cubic-bezier(.4,0,.2,1);
    animation: appear 1s 1.8s forwards;
  }

  /* Our Team */
 
  .our-team{
    position: relative;
    overflow: hidden;
  }
 
  .team-section{
    width: 100%;
    height: auto;
    padding: 80px 0px;
    display: grid;
    place-items: center;
    
  }

    .team_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .img_wraper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .img_wraper .img-card{
    width: 250px;
    height: auto;
    border-radius: 7px;
    background-color: #fff;
    margin: 20px;
    box-shadow: 7px 7px 42px rgba(51, 51, 51, 0.422);
  }

  .img-card .img{
    width: 100%;
    height: 360px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 7px;
    
  }

  .img-card{
    transition: 0.4s all;
    cursor: pointer;
  }

  .img-card:hover{
    transform: scale(1.08);
  }

  .img-card .img img{
    width: 100%;
    height: 100%;
    transition: 0.4s all;
    filter: grayscale(1);
  }
  
  .img-card:hover .img img{
    filter: grayscale(0);
  }
  
  .img-card .text{
    line-height: 23px;
    padding: 5px 0 10px 10px;
  }

  .img-card .text h2{
    font-size: 18px;
    color: #1B4B6F;
  }

  .img-card .text p{
    font-size: 15px;
    font-weight: 500;
    opacity: .6;
  }

  .team-open{
    width: 100%;
    height: auto;
    background-color: #092438;
    position: absolute;
    padding: 100px;
    top: 0;
    left: 0;
    z-index: -10;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translate3d(-150%, 0, 0);
    transition: 1s all ease; 
    overflow: hidden;
  }

  .team-open.active{
    z-index: 450;
    opacity: 1;
    transform: translateZ(0);
  }

  .team-open-img{
    margin: 0 auto;
    padding: 20px;
  }

  .team-open-img img{
    border-radius: 100vmax;
    height: 250px;
    width: 250px;
    object-fit: cover;
  }

  .team-open-text{
    width: 70%;
    text-align: center;
  }
  
  .team-open-icon{
    position: absolute;
    top: 80px;
    right: 20%;
    transition: 0.4s all;
  }

  .team-open-icon i{
    font-size: 30px;
    transition: 0.4s all;
  }

  .team-open-icon i:hover{
    transform: scale(1.2);
  }


  .award{
    position: absolute;
    top: 23.5%;
    right: 23.5%;
    z-index: 99;
  }
  .award img{
    height: 120px;
    width: 120px;
  }


  /* Media Queries */
  @media(max-width: 1300px){
    .team-member{
        width: 35%;
     }
  }
  @media(max-width: 1200px){
    .team-member{
        width: 40%;
     }
  }

  @media(max-width: 1024px){
    .background{
        transform: translateX(-200px);
    }
    .overlay-nav {
        padding: 5rem;
        }

    .services-container .card{
            width: 33%;
     }
     .team-member{
        width: 45%;
     }
  }

  @media(max-width: 900px){
    .overlay-nav {
        padding: 2rem;
        }
        .team-member{
            width: 60%;
         }
      .section5{
        padding-bottom: 130px;
      }  
      
      .floating-contact-form .form-container{
        position: fixed;
        bottom: 120px;
        right: 50px;
        padding: 24px 36px;
        width: 600px;
        transform: rotateZ(-9deg);
        transform-origin: bottom-right;
        opacity: 0;
        pointer-events: none;
        transition: all 500ms ease;
        z-index: 301;
      }
      .floating-contact-form form input[type="text"],
      .floating-contact-form form input[type="email"],
      .floating-contact-form form input[type="tel"],
      .floating-contact-form form textarea {
       width: 100%;
      }
      .floating-contact-form .field-container .fa-sticky-note {
        left: 20px !important;
      }
      .floating-contact-form form input[type="text"],
      .floating-contact-form form input[type="email"],
      .floating-contact-form form input[type="tel"]{
        width: 270px;
      } 
      .floating-contact-form form textarea{
        height: 167px;
        width: 230px;
        resize: none;
        margin-left: 0;
        padding-left: 45px;
      }
      .floating-contact-form .field-container .txtlabel{
        margin-left: 0px;
      }
      .story-content{
        flex-direction: column;
      }
      .story-content div{
        width: 100%;
        font-size: 15px;
        padding: 0px 30px;
        margin-bottom: 30px;
      }
  }

  @media(max-width: 768px){
    .background{
        display: none;
    }
    .buttons button{
        display: none;
    }
    .mobile-img img{
        display: block;
    }
    .services-container .card{
        width: 50%;
 }
    .text-container{
        display: flex;
        justify-content: center;
    }
    .text-container2{
        display: flex;
        justify-content: center;
    }
    .main-heading{
        top: 20%;
    }
    .sub-heading{
        top: 27%;
    }
    .main-heading2{
        top: 50%;
    }
    .sub-heading2{
        top: 67%;
    }

    .services-section .main-heading2{
        top: 70%;
    }
    .services-section .sub-heading2{
        top: 85%;
    }
    
    .background2 img{
        height: 400px;
    }
    .text-container2{
        height: 450px;
    }
    .learn-more{
        display: none;
    }
    .main-buttons{
        top: 34%;
    }
    .book{
        background-color: #fff;
        color: #000;
    }
    .book:hover{
        background-color: #003253;
        color: #fff;
    }
    .team-member{
        width: 70%;
     }

    .overlay-nav-inner {
    padding: 1rem;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: end;
    margin-top: 60px;
    }
    .overlay-nav-secondary ul{
        flex-direction: column;
    }
    .overlay-nav-secondary ul li{
        margin-bottom: 10px;
    }
    .overlay-nav-menu ul li{
        margin-bottom: 1.5rem;
    } 
    .overlay-nav-menu ul li a{
        font-size: 22px;
    }
    .overlay-nav{
        padding: 50px 80px;
    }
    .overlay-nav-bottom{
        margin-top: -10px;
    }
    .section2{
        padding: 0;
    }
    .section3{
        margin-top: 80px;
    }
    .services-container .card:first-child
    {
        opacity: 1;
        transform: translateZ(0);
    }
    .services-container .card:nth-child(2){
        opacity: 1;
        transform: translateZ(0);
    }
    .services-container .card:nth-child(3){
        opacity: 1;
        transform: translateZ(0);
    }
    .services-container .card:nth-child(4),
    .services-container .card:nth-child(5),
    .services-container .card:nth-child(6),
    .services-container .card:nth-child(7),
    .services-container .card:nth-child(8),
    .services-container .card:nth-child(9),
    .services-container .card:nth-child(10),
    .services-container .card:nth-child(11),
    .services-container .card:nth-child(12)
    {
        opacity: 1;
        transform: translateZ(0);
    }
    .footer-container{
        flex-direction: column;
    }

    .footer-section{
        margin-bottom: 10px;
        width: 100%;
    }

    .footer-section:nth-child(2){
        order: 3;
    }


    .services777{
        margin-top: -50px;
    }
    

      .form-heading::after{
        display: none;
      }
      .base-container{
       flex-direction: column;
       justify-content: center;
       align-items: center;
       font-size: 13px;
       text-align: center;
    }
    .team-open{
        padding: 80px 20px;
        height: auto;
    }
    
    
  }

  @media(max-width: 700px){
    .floating-contact-form .form-container form textarea{
        width: 100%;
      }
      .floating-contact-form form input[type="text"],
      .floating-contact-form form input[type="email"],
      .floating-contact-form form input[type="mobile"]
      {
        width: 100%;
      }
      .floating-contact-form .form-container{
        margin-left: auto;
        margin-right: auto;
        bottom: 20px;
        left: 0;
        right: 0;
        box-sizing: border-box;
        width: 80%;
      }
      .floating-contact-form .field-container{
        width: 100%;
      }
      .floating-contact-form .field-container .fa-sticky-note {
        left: 11px !important;
      }
      .formbox{
        flex-direction: column;
      }
      .inputs{
        width: 100%;
      }
      .services777{
        margin-top: -40px;
    }
  }

  @media(max-width: 660px){
    .section3{
        margin-top: -20px;
    }
    
  }
  @media(max-width: 600px){
    .section3{
        margin-top: -40px;
    }
    .team-member{
        width: 80%;
     }
     .section4-paragraph{
        font-size: 16px;
     }
     .section5{
        padding-bottom: 160px;
      }  
      .services777{
        margin-top: -60px;
    }
    .services-section .main-heading2{
        top: 55%;
    }
    .services-section .sub-heading2{
        top: 70%;
    }
  }

  @media(max-width: 550px){
    .top-container{
       padding: 50px 50px;
    }
    .top-container2{
       padding: 50px 50px;
    }
    .overlay-nav{
        padding: 50px 50px;
    }
    .overlay-nav-menu ul li a{
        font-size: 25px;
    }
    .overlay-nav-inner{
        justify-content: center;
    }
    .logo2{
        left: 50px;
    }
    .socials i{
        font-size: 35px;
    }
    .services-container .card{
        width: 70%;
 }
    .section3{
        margin-top: -90px;
    }
    .team-member{
        width: 80%;
        padding-left: 30px;
        padding-right: 30px;
     }
     .services-section .sub-heading2{
        padding: 0 40px;
        top: 60%;
     }
     .services-section .main-heading2{
        
        top: 50%;
     }
     .team-open-icon{
       top: 25px;
        right: 10%;
      }
  }


  @media(max-width: 450px){
    .main-heading{
        font-size: 25px;
    }
    .main-heading2{
        font-size: 25px;
    }
    .content{
        font-size: 15px;
    }
    .sub-heading{
        font-size: 16px;
        width: 90%;
    }
    .sub-heading2{
        font-size: 16px;
        width: 80%;
    }
    .main-buttons{
        top: 265px;
    }
    .mobile-img{
        top: 286px;
    }
    .section3{
        margin-top: -90px;
        padding-top: 0;
    }
    .section5{
        padding-bottom: 220px;
      } 

      .section6{
        padding: 30px 40px;
      }
      .section6a{
        padding: 30px 40px;
      }
      .section4-button-container{
        padding: 0 30px;
      }
      .section6-button button{
        background-color: #123753;
      }
      .section6-heading{
        font-size: 15px;
        padding: 0;
        width: 100%;
      }
      .section6a-heading{
        font-size: 15px;
        padding: 0;
        width: 100%;
      }
      .floating-contact-form .contact-icon {
        bottom: 20px;
        right: 22px;
        cursor: pointer;
        padding: 0px;
      }
      .choose-us-card{
        height: 300px;
        width: 350px;
    }
    .services777{
        margin-top: 40px;
    }

  .team-open-text{
    width: 90%;
    text-align: center;
  }
  }

  @media(max-width: 380px){
    .section3{
        margin-top: -130px;
    }
    .overlay-nav-bottom a{
        font-size: 14px;
        margin-bottom: -15px;
    }
    .overlay-nav-bottom{
        margin-top: -15px;
    }
    .overlay-nav{
        padding: 30px 25px;
    }
    .socials{
        margin-top: 15px;
    }
    .team-member{
        width: 90%;
     }
     .section4-paragraph{
        display: none;
     }
     .team-member-info{
        font-size: 14px !important;
        width: 100%;
        padding: 10px;
     }
     .section5{
        display: none;
     }
     .section6{
        background-color: #1B4B6F;
     }
     .story-content{
        padding: 0px 10px;
     }
     .sub-heading2{
        top: 60%;
        width: 85%;
    }
    .services777{
        margin-top: 30px;
    }
    .team-open-img img{
        height: 180px;
        width: 180px;
    }
    .team-section{
        padding: 0px;
    }
  }

  @media(max-width: 360px){
    .top-container{
       padding: 50px 25px;
    }
    .top-container2{
       padding: 50px 25px;
    }
    
    .socials i{
        font-size: 35px;
    }
    .logo2{
        left: 25px;
    }
    .section3{
        margin-top: -150px;
    }
    .services-container .card{
        width: 90%;
    }
     .overlay-nav-menu ul li a{
    font-size: 25px;
    }
    .overlay-nav-bottom{
        margin-top: -20px;
    }
    .floating-contact-form .form-container{
        bottom: 5px;
      }
      .choose-us-card{
        height: 330px;
        width: 300px;
    }

    .choose-us-heading{
        font-size: 20px;
    }
    .services777{
        margin-top: 70px;
    }
    .services-section .main-heading2{
        top: 42%;
    }
    .services-section .sub-heading2{
        top: 52%;
        padding: 0;
    }

  }
  @media(max-width: 310px){
    .overlay-nav{
        padding: 50px 15px;
    }
    .section3{
        margin-top: -180px;
    }
    .about-description{
        padding-left: 30px;
        padding-right: 30px;
    }
    .team-member{
        width: 100%;
     }
    
    .bubble-menu{
        transform: scale(0.9);
        
    }
    .refund{
        font-size: 15px;
    }
    .floating-contact-form .form-container{
        width: 90%;
        
      }
      .story-content{
        padding: 0;
        font-size: 13px;
     }
     .choose-us-card{
        height: 380px;
        width: 250px;
    }
    .choose-us-heading{
        width: 80%;
        margin: 0 auto;
    }
    .services777{
        margin-top: 40px;
    }
    .team-open-icon{
        top: 1%;
         right: 7%;
       }
       .team-section{
        margin-top: -80px;

    }
  }
  @media(max-width: 290px){
    .overlay-nav{
        padding: 50px 5px;
    }
    .section3{
        margin-top: -200px;
    }
    .about-description{
        padding-left: 13px;
        padding-right: 13px;
    }
    .section2-button button{
        font-size: 14px;
        padding-left: 0;
        padding-right: 0;

    }
    .services777{
        margin-top: 70px;
    }
  }

